body{
    margin: 0;
    padding: 0;
    
}
.container {
    position: fixed;
    margin: 10px;
}
  
  /* The navbar */
  .one {
    overflow: hidden;
  background-color: white;
  margin-left: 1ch;
  margin-top: -1.5ch;
  }
  
  /* Navbar links */
  .one a {
  float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .one .four:hover {
    background-color: #ddd;
    color: black;
  }
  .img{
    width: 150x;
    height: 80px;
    border-radius: 50px;
  }
  
  .six{
    width: 70px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(166, 207, 207);
    color: black;
    border-color: rgb(166, 202, 202);
  }
  .three{
    text-align: right;
    float: right;
    margin-left: 700px;
    margin-top: -5ch;
  }
  .five{
      width: 1300px;
      object-fit:cover;
   object-position:50%;
  
       }
       .twelve{
        margin-top: -30ch;
        font-size: 30px;
        color: white;
       }
       .nine{
        width: 200px;
        height: 50px;
        opacity: 0.5;
       }
       .center{
        text-align: center;
       }
       .row{
        display: flex;
        font-size: 20px;
        text-align: center;
       }
       .round{
        margin-left: 550px;
        margin-top: -25ch;
       }
      .contect{
        background-color: rgb(245, 245, 245);
      }
      .white{
        width: 150px;
        height: 50px;
        color: white;
        background-color: black;
      }
      .bigger{
        text-align: center;
      }
      .input{
        width: 95%;
        height: 30px;
      }
      .button{
        background-color: black;
        color: white;
        width: 150px;
        height: 50px;
      }
      .cntact{
        background-color: rgb(243, 242, 242);
      }
      .imag{
        width: 1300px;
      object-fit:cover;
   object-position:50%;
      }
      .login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: navy;
        border-radius: 15px ;
        margin-top: -15ch;

}
h2{
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: -40ch;
}
label{
    color: #08ffd1;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
.span{
    color: white;
    font-size: 17px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}



  



.signup {
  float: left;
  width: 50%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}


.sign {
  padding: 16px;
  margin-top: -80ch;
  color: white;
}


